header{
    position: fixed;
    left: 0;
    top: 30px;
    width: 100%;
    z-index: 999;
    transition: 0.3s;

}
.header-main{
    border-radius: 25px;
    transition: 0.3s;
    padding: 20px;
    border: 1px solid transparent;

}
.header-show .header-main{
    transition: 0.3s;
    background: linear-gradient(138.29deg, #FFFFFF 0%, rgba(255, 255, 255, 0.5) 100%);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.05);

    border: 1px solid rgba(0, 54, 196, 0.1);
}
.logo{
    display: flex;
}

.menu-mobile{
    gap: 195px;
    justify-content: space-between;
    width: 100%;
}
.menu-scroll {
    gap: 25px;
}
.menu-scroll a{
    color: rgba(29, 29, 29, 1);
    font-size: 15px;
    font-weight: 400;
    line-height: 100%;
    text-align: center;
    transition: 0.3s;
    position: relative;
    white-space: nowrap;
}
.menu-scroll a:hover{
    opacity: 0.7;
}
.header-btn{
    gap: 10px;
}


.btn-login{
    transition: 0.3s;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    background: unset;
    white-space: nowrap;
    width: max-content;

    color: rgba(235, 235, 235, 0.7);
    background: linear-gradient(86.56deg, #66C0FF 0%, #0094F0 19.52%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn-login:hover{
    opacity: 0.7;
}
.btn-reg {
    background: linear-gradient(86.56deg, #66C0FF 0%, #0094F0 19.52%),
    radial-gradient(338.84% 84.64% at 84.62% 68.22%, rgba(79, 0, 111, 0) 28%, rgba(79, 0, 111, 0.1) 100%),
    radial-gradient(174.78% 226.44% at 101.88% 0.46%, rgba(212, 113, 255, 0.6) 14%, rgba(80, 157, 245, 0) 83%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;

    border-radius: 50px;
    padding: 17px 30px;
    transition: 0.3s;
    font-weight: 600;
    line-height: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    white-space: nowrap;
}
.btn-reg:hover, .btn-reg:active{
    opacity: 0.7;

}




.open-menu{
    display: none;
}
.close-menu {
    display: none;
}
.close-menu span {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;

}

.close-menu span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 3px;
    position: relative;
}
.close-menu span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: -3px;
}

.close-menu span:nth-child(3){
    display: none;
}

.body_fix {
    overflow: hidden;
}

.menu-name-mob{
    display: none;
}
.nav-menu ul li{
    display: flex;
}

@media (max-width: 1199px){

    .menu-mobile {
        gap: 105px;
    }
    header {
        top: 20px;
    }
    .logo{
        width: 161px;
    }
    .btn-reg {
        padding: 14px 30px;
        font-size: 15px;
    }
    .btn-login {
        font-size: 15px;
    }

    .header-main {
        border-radius: 15px;
        padding: 15px;
    }
}

@media (max-width: 1020px) {
    .nav-menu{
        position: relative;
        z-index: 1;
    }
    .menu-name-mob{
        display: block;
    }

    header {
        top: 20px;
    }
    .open-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4px;
        transition: 0.3s;
        z-index: 111111;
        width: 24px;
        height: 24px;
    }
    .open-menu span{
        display: flex;
        background: #1C1B1F;
        width: 17px;
        height: 2px;
        transition: 0.3s;
    }

    .menu-content {
        width: 101%;
        position: fixed;
        z-index: 99999;
        top: 0;
        left: 0;
        transition: 0.5s;
        height: 0;
        overflow: hidden;

    }
    .transition-menu {
        height: 365px;
        -webkit-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
    }
    .menu-mobile{
        padding: 17px 15px 25px;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 100%;
        margin: 0 auto;
        gap: 30px;
        border-radius: 10px;
        backdrop-filter: blur(40px);
        background: rgba(255, 255, 255, 1);
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.05);



    }
    .nav-menu ul {
        gap: 20px 16px;
        flex-wrap: wrap;
        max-width: 186px;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .menu-mobile .glob-tit-name{
        display: flex;
        margin: 0;
    }

    .header-btn {
        margin-left: 0;
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
        position: relative;
        z-index: 1;
        gap: 20px;
    }
    .menu-name-mob {
        width: 100%;
    }

    .menu-name-mob .logo {
        margin-top: -2px;
        margin-left: 0px;
    }
    .nav-menu a {
        padding: 0;
        font-size: 12px;
        font-weight: 400;
        line-height: 10px;
    }

    .header-main{
        transition: 0.3s;
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.05);
        backdrop-filter: blur(40px);
        background: linear-gradient(138.29deg, #FFFFFF 0%, rgba(255, 255, 255, 0.5) 100%);

        border-radius: 10px;
    }

    .btn-login {
        font-size: 12px;
        border: unset;
        padding: 0;
        width: max-content;
        border-radius: 6px;
        box-shadow: unset;
    }
    .btn-reg {
        padding: 13px 30px;
        font-size: 12px;
    }

}
